body{
    height: 100vh;
    background-color: #e9ecef !important;
}

/* .bg-body-secondary {--bs-bg-opacity: 0 !important;} */

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    min-width: 150px;
}

.ms-n1 {
  margin-left: -0.25rem !important;
}