{% extends 'base/base.html' %}
{% load static %}

{% block title %}Quiz App - Home{% endblock title %}

{% block nav-items %}
    <li class="nav-item">
        <a href="{% url 'instructor_home' %}" class="nav-link">Home</a>
    </li>
    <li class="nav-item">
        <a href="{% url 'create_quiz' %}" class="nav-link">Create Quiz</a>
    </li>
    <li class="nav-item">
        <a href="{% url 'logout' %}" class="nav-link">Logout</a>
    </li>
{% endblock nav-items %}

{% block content %}
    <main class="d-flex justify-content-evenly flex-wrap pt-5">
        {% if quizzes %}
            {% for quiz in quizzes %}
                    {% if user.id == quiz.user_id %}
                        <div class="card w-25" style="min-width: 300px;">
                            <div class="card-body">
                                <div class="px-4 pt-4 pb-2 mb-4">
                                    <h4 class="card-title mb-4 text-center">{{ quiz.title }}</h5>
                                    <h5 class="card-subtitle mb-3 text-body-secondary">Description</h6>
                                    <p class="card-text">{{ quiz.description }}</p>
                                    <div class="d-flex justify-content-between mt-4 flex-wrap">
                                        <a href="{% url 'add_question' quiz.id %}" class="btn btn-warning py-2">Add Question</a>
                                        <a href="{% url 'view_quiz_instructor' quiz.id %}" class="btn btn-warning py-2 px-4">Details</a>
                                    </div>
                                    <a href="" class="btn btn-outline-secondary mt-3 py-2 w-100">Show Participants</a>
                                </div>
                            </div>                  
                        </div>
                    {% else %}
                        <p>No quizzes yet.<a href="{% url 'create_quiz' %}" class="btn btn-warning m-3"> Create one</a>.</p>
                    {% endif %}
            {% endfor %}
        {% else %}
            <p>No quizzes yet. <a href="{% url 'create_quiz' %}">Create one {{ user.Full_name }}</a>.</p>
        {% endif %}
    </main>
{% endblock content %}